.section__first {
    text-align: center;
    padding-top: 94px;
    padding-bottom: 94px;
}

.caption {
    display: inline-block;
    color: $primary-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    margin-top: 0px;
    margin-bottom: 50px;
    &__img {
        display: flex;}
    &__li {
    margin-right: 30px;
     position: relative;
    }
    &__label {
    position: relative;
    margin: 0;
    padding: 0;
    }
    &__block {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 3px;
    right: 0;
    }
    &__text {
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    color: $primary-white-color;
    }
    .caption__label>img {
        display: block;
      }

}
