.advantages {
    display: flex;
}

section {
    padding-top: 94px;
}

.tumb::before {
    display: block;
    content: "";
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center; 
    margin-bottom: 30px; 

}

.tumb:nth-child(1)::before {
    background-image: url(../images/antenna-1.svg);
} 

.tumb:nth-child(2)::before {
    background-image: url(../images/clock-1.svg);
}

.tumb:nth-child(3)::before {
    background-image: url(../images/diagram-1.svg);
}

.tumb:nth-child(4)::before {
    background-image: url(../images/astronaut-1.svg);
}

.icon {
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
}

.tumb {
    margin-right: 30px;
    &__title {
        color: $primary-text-color;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        margin: 0px;
    }
    &__text {
        color: $title-text-color;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        margin-bottom: 0px;
    }
}